<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Crear Registro</h1>
    <form method="POST" action="Registro">
        <label for="campo1">Juegos :</label>
        <input type="text" id="juegos" name="juegos" required><br>

        <label for="campo2">Perifericos :</label>
        <input type="text" id="perifericos" name="perifericos" required><br>
        
        <!-- Agrega más campos según los campos de tu hoja de cálculo -->

        <input type="submit" value="Guardar">
    </form>
</body>
</html>